
<% include ../../../views/partials/customerhead %>


<body>
    <!-- banner -->
    <div class="wthree_agile_admin_info">
              <!-- /w3_agileits_top_nav-->
              <!-- /nav-->
              <div class="w3_agileits_top_nav">
                <ul id="gn-menu" class="gn-menu-main">
                           <!-- /nav_agile_w3l -->
                    <li class="gn-trigger">
                        <a class="gn-icon gn-icon-menu"><i class="fa fa-bars" aria-hidden="true"></i><span>Menu</span></a>
                        
    <% include ../../../views/partials/customeraside %>

    
    <div class="inner_content"> 
        
        <div class="inner_content_w3_agile_info">

            <h3 class="text-center">
                Your exam report is under review by administrator, you will be notified after the review process is complete.
            </h3>


        </div> <!-- end inner_content_w3_agile_info -->
    </div> <!-- end inner_content -->

<% include ../../../views/partials/customerfooter %>
 

</html>