<% include ../partials/adminhead %>

<body class="cbp-spmenu-push">
    <div class="main-content">

        <!--left-fixed -navigation-->
        <% include ../partials/adminaside %>
        <div id="page-wrapper">
            <div class="main-page">
                <h3 class="title1"><%= pageTitle %></h3>
                <div class="error-page">
                    <div class="">
                        <h2>500</h2>
                    </div>
                    <div class="">
                        <h3><i class="fa fa-warning text-yellow"></i> Oops! Something Went Wrong.</h3>
                    </div>
                    <p>We could not find the page you were looking for. Meanwhile, you may return to dashboard.</p>
                </div>
            </div>
        </div>
        <% include ../partials/adminfooter %>
    </div>
</body>

</html>